<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="config.xsd">
	<mode>dev</mode>
	<adminPassword>admin</adminPassword>
	<adminEmail>admin@vino.org</adminEmail>
	<database>
		<mode>dev</mode>
		<driver>org.postgresql.Driver</driver>
		<url>jdbc:postgresql://localhost:5432/dev</url>
		<username>anotherglass</username>
		<password>anotherglass</password>
	</database>
	<database>
		<mode>test</mode>
		<driver>org.postgresql.Driver</driver>
		<url>jdbc:postgresql://localhost:5432/test</url>
		<username>anotherglass</username>
		<password>anotherglass</password>
	</database>
	<database>
		<mode>prod</mode>
		<driver>org.postgresql.Driver</driver>
		<url>jdbc:postgresql://localhost:5432/prod</url>
		<username>anotherglass</username>
		<password>anotherglass</password>
	</database>
	<emailServer>
		<mode>dev</mode>
		<address>smtp.googlemail.com</address>
		<port>465</port>
		<ssl>true</ssl>
		<username>will.clark@gmail.com</username>
		<password>lbnimkqqnskmpoum</password>
	</emailServer>
	<emailServer>
		<mode>test</mode>
		<address>smtp-test.vino</address>
		<port>25</port>
		<ssl>false</ssl>
	</emailServer>
	<emailServer>
		<mode>prod</mode>
		<address>smtp.vino</address>
		<port>25</port>
		<ssl>false</ssl>
	</emailServer>
	<facebookApi>
		<url>https://graph.facebook.com/me</url>
		<key>215985131929804</key>
		<secret>02e72bd76778e992d3d9b62599fabd88</secret>
	</facebookApi>	
	<wineApi>
		<url>http://services.wine.com/api/beta2/service.svc/json/</url>
		<key>b77c34d4cc093ccc98977db8e10c7e85</key>
		<fetchSize>300</fetchSize>
		<fetchOffset>66800</fetchOffset>
	</wineApi>
</configuration>