<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         metadata-complete="true">
         
  <listener>
    <listener-class>com.anotherglass.vino.config.ContextEventListener</listener-class>
  </listener>
 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>RantController</servlet-name>
    <servlet-class>com.anotherglass.vino.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RantController</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>

</web-app>