<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         metadata-complete="true">         
  <listener>
    <listener-class>vino.config.ContextEventListener</listener-class>
  </listener>
  <filter>
     <filter-name>ShiroFilter</filter-name>
     <filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
    <init-param>
    	<param-name>config</param-name>
    	<param-value>
		[users]
	    	# format: username = password, role1, role2, ..., roleN
		admin = admin, admin
		user = user, user
		
		[roles]
		admin = *
		user = user:*
		
		[urls]
		/admin/** = authcBasic, roles["admin"]
		/** = authcBasic     	
   		</param-value>
    </init-param>
 </filter> 
 <filter-mapping>
      <filter-name>ShiroFilter</filter-name>
      <url-pattern>/*</url-pattern>
 </filter-mapping> 
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>vino.controller.SearchController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>vino.controller.AdminController</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/search/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
</web-app>