/* Move down content because there's a fixed navbar that's 50px tall */
body {
	padding-top: 50px;
  	padding-bottom: 20px;
  	font-family: Open Sans, Arial, sans serif;
  	font-size: 12px;
}

body.strapless {
	padding-top: 0px;
}

h1 small {
  font-weight: 400;
  line-height: 1;
  color: #9F1D35;
  font-variant: small-caps;
  font-size: 65%;
}

html.landing-html {
  min-height: 100%;
  background: url('../img/bg1.jpg') 100% 100% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}


body.landing-body {
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
  background: transparent;
}

.header-glass {
  font-size: 52px;
  margin-top: 75px;
  font-family: Cabin, Verdana, Arial, sans-serif
}

.details {
  list-style: none;
}

.row-buffer-lg {
  margin-top: 20px;
}

.row-buffer-md {
  margin-top: 10px;
}


.big-icon {
	font-size: 28px;
}

.error {
	margin-top: 5px;
}

.panel-heading {
	padding:10px 15px 20px;	
}

.table-nonfluid {
	width: auto;
}

.container-half { 
	max-width: 50%;
}

#container-index {
	max-width: 975px;
}

#container-error {
	margin-top: 25px;
	max-width: 700px;
}

#container-login, #container-signup {
	max-width: 400px;
}

/* SEARCH TOGGLE */
#search-toggle thead>tr>th { 
    border-top: none;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    text-align:center;
	background-color: #F0F0F0;
}
#search-toggle .active-toggle {
	background-color: #E8E8E8;
}

#search-toggle .border-right {
	border-right: 1px solid #ddd;
}

/* NO RESULTS */
#no-results tbody>tr>th {
	border-top: none;
	font-size: 18px;
}

#no-results tbody>tr>td {
	font-size: 16px;
	padding-top: 15px;
}

/* TABLESORTER */
.table>thead>tr>th {
	padding-left: 20px;
}
th.header { 
    background-image: url(/img/bg.gif);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: left; 
    margin-left: -1px; 
} 
th.headerSortUp { 
    background-image: url(/img/asc.gif); 
    background-color: #E0E0E0;
}
th.headerSortDown { 
    background-image: url(/img/desc.gif); 
    background-color: #E0E0E0; 
}

