body {
	font-family: Open Sans, Arial, sans serif;
	font-size: 12px;
}

h1 {
	font-family: Open Sans, Arial, sans serif;
}

.table-nonfluid {
	width: auto;
}

.border-bottom {
	border-bottom: 1px solid #C0C0C0;
	margin-bottom: 10px;
}

/** NAVBAR **/
/* Move down content because there's a fixed navbar that's 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}